


<div class="d-none d-lg-block">
  <div class="row row-cols-4">
      <div class="col">
          <div class="course-card position-relative">
              <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
              <div class="course-card-img">
                <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-5.png?raw=true" alt="">
              </div>
              <div class="py-6 px-3">
                <div class="course-card-top py-3 border-bottom border-1">
                  <h2 class="fs-6 mb-2">小白也會! 從零開始學習 Python 程式設計</h2>
                  <div class="d-flex align-items-center">
                    <div class="me-auto">
                      <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                      <span class="neutral-80">Kelly Hsu</span>
                    </div>
                    <div class="text-end">
                      <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                      <del class="del-text fs-9">NT$ 3,200</del>
                    </div>
                  </div>
                </div>
                
                <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
                  <div>
                    <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
                    <p class="fs-8 neutral-80">已有 420 位同學加入</p>
                  </div>
          
                  <div>
                    <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col">
          <div class="course-card position-relative h-100">
              <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
              <div class="course-card-img">
                <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-6.png?raw=true" alt="">
              </div>
              <div class="py-6 px-3">
                <div class="course-card-top py-3 border-bottom border-1">
                  <h2 class="fs-6 mb-2">全面掌握 JavaScript 開發技術</h2>
                  <div class="d-flex align-items-center">
                    <div class="me-auto">
                      <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                      <span class="neutral-80">Kelly Hsu</span>
                    </div>
                    <div class="text-end">
                      <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                      <del class="del-text fs-9">NT$ 3,200</del>
                    </div>
                  </div>
                </div>
                
                <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
                  <div>
                    <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
                    <p class="fs-8 neutral-80">已有 420 位同學加入</p>
                  </div>
          
                  <div>
                    <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col">
          <div class="course-card position-relative">
              <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
              <div class="course-card-img">
                <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-7.png?raw=true" alt="">
              </div>
              <div class="py-6 px-3">
                <div class="course-card-top py-3 border-bottom border-1">
                  <h2 class="fs-6 mb-2">HTML & CSS 網頁設計基礎教程</h2>
                  <div class="d-flex align-items-center">
                    <div class="me-auto">
                      <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                      <span class="neutral-80">Kelly Hsu</span>
                    </div>
                    <div class="text-end">
                      <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                      <del class="del-text fs-9">NT$ 3,200</del>
                    </div>
                  </div>
                </div>
                
                <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
                  <div>
                    <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
                    <p class="fs-8 neutral-80">已有 420 位同學加入</p>
                  </div>
          
                  <div>
                    <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col">
          <div class="course-card position-relative">
              <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
              <div class="course-card-img">
                <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-8.png?raw=true" alt="">
              </div>
              <div class="py-6 px-3">
                <div class="course-card-top py-3 border-bottom border-1">
                  <h2 class="fs-6 mb-2">更進一步！深入學習 Node.js 與後端開發</h2>
                  <div class="d-flex align-items-center">
                    <div class="me-auto">
                      <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                      <span class="neutral-80">Kelly Hsu</span>
                    </div>
                    <div class="text-end">
                      <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                      <del class="del-text fs-9">NT$ 3,200</del>
                    </div>
                  </div>
                </div>
                
                <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
                  <div>
                    <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
                    <p class="fs-8 neutral-80">已有 420 位同學加入</p>
                  </div>
          
                  <div>
                    <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
  
  </div>
</div>


<div class="program-popular-course d-block d-lg-none">
  <ul class="d-flex list-unstyled overflow-auto">
    <li>
      <div class="course-card position-relative">
        <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
        <div class="course-card-img">
          <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-5.png?raw=true" alt="">
        </div>
        <div class="py-6 px-3">
          <div class="course-card-top py-3 border-bottom border-1">
            <h2 class="fs-6 mb-2">小白也會! 從零開始學習 Python 程式設計</h2>
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                <span class="neutral-80">Kelly Hsu</span>
              </div>
              <div class="text-end">
                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                <del class="del-text fs-9">NT$ 3,200</del>
              </div>
            </div>
          </div>
          
          <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
            <div>
              <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
              <p class="fs-8 neutral-80">已有 420 位同學加入</p>
            </div>
    
            <div>
              <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="course-card position-relative">
        <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
        <div class="course-card-img">
          <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-6.png?raw=true" alt="">
        </div>
        <div class="py-6 px-3">
          <div class="course-card-top py-3 border-bottom border-1">
            <h2 class="fs-6 mb-2">全面掌握 JavaScript 開發技術</h2>
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                <span class="neutral-80">Kelly Hsu</span>
              </div>
              <div class="text-end">
                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                <del class="del-text fs-9">NT$ 3,200</del>
              </div>
            </div>
          </div>
          
          <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
            <div>
              <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
              <p class="fs-8 neutral-80">已有 420 位同學加入</p>
            </div>
    
            <div>
              <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="course-card position-relative">
        <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
        <div class="course-card-img">
          <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-7.png?raw=true" alt="">
        </div>
        <div class="py-6 px-3">
          <div class="course-card-top py-3 border-bottom border-1">
            <h2 class="fs-6 mb-2">HTML & CSS 網頁設計基礎教程</h2>
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                <span class="neutral-80">Kelly Hsu</span>
              </div>
              <div class="text-end">
                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                <del class="del-text fs-9">NT$ 3,200</del>
              </div>
            </div>
          </div>
          
          <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
            <div>
              <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
              <p class="fs-8 neutral-80">已有 420 位同學加入</p>
            </div>
    
            <div>
              <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="course-card position-relative">
        <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
        <div class="course-card-img">
          <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-8.png?raw=true" alt="">
        </div>
        <div class="py-6 px-3">
          <div class="course-card-top py-3 border-bottom border-1">
            <h2 class="fs-6 mb-2">更進一步！深入學習 Node.js 與後端開發</h2>
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                <span class="neutral-80">Kelly Hsu</span>
              </div>
              <div class="text-end">
                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                <del class="del-text fs-9">NT$ 3,200</del>
              </div>
            </div>
          </div>
          
          <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
            <div>
              <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
              <p class="fs-8 neutral-80">已有 420 位同學加入</p>
            </div>
    
            <div>
              <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="course-card position-relative">
        <span class="position-absolute top-5 start-5 text-alert-100 fw-bold bg-alert-10 py-2 px-3 rounded-5 fs-8">限時 8 折 🔥</span>
        <div class="course-card-img">
          <img class="w-100 object-fit-cover" width="416" height="272" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-1.png?raw=true" alt="">
        </div>
        <div class="py-6 px-3">
          <div class="course-card-top py-3 border-bottom border-1">
            <h2 class="fs-6 mb-2">健康廚房：營養均衡的素食料理指南</h2>
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                <span class="neutral-80">Kelly Hsu</span>
              </div>
              <div class="text-end">
                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                <del class="del-text fs-9">NT$ 3,200</del>
              </div>
            </div>
          </div>
          
          <div class="course-card-bottom d-flex align-items-center justify-content-between mt-3">
            <div>
              <button type="button" class="custom-btn-tag-1 mb-1">程式開發 </button>
              <p class="fs-8 neutral-80">已有 420 位同學加入</p>
            </div>
    
            <div>
              <p><i class="text-success-100 me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>