<header>
    <nav class="navbar navbar-expand-lg navbar-light d-lg-block d-none">
        <div class="container nav-bg-shadow py-4 px-8 rounded-5">
          <a class="navbar-brand" href="index.html">
            <img width="200" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/logo.png?raw=true" alt="...">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 border-1">
              <li class="nav-item dropdown position-static ">
                <a class="text-neutral-80" href="#"  id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown" id="Test">
                    探索 <span class="align-bottom material-symbols-outlined">
                      keyboard_arrow_down
                      </span>
                  </a> 
                  <div class="dropdown-menu desk-dropdown-menu p-0">
                      <ul class="desk-dropdown-menu-first bg-neutral-10 dropdown-menu-scroll">
                          <p class="py-3 px-4">探索全部</p>
                          <li class="dropend position-static">
                              <a class="active py-3 rounded-2 dropdown-item position-relative" href="#"  id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">程式
                                  <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                              </a>
                              <div class="dropdown-menu">
                                  <ul class=" desk-dropdown-menu-second">
                                      <p class="py-3 px-4">所有程式</p>
                           
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="program.html" id="dropdownMenuLink" data-bs-auto-close="outside">程式入門
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li class=" dropend position-static">
                                          <a class="py-3 rounded-2 dropdown-item position-relative active" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown" data-bs-auto-close="outside">網頁前端
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                          <div class="dropdown-menu desk-dropdown-menu-third px-6 pt-6">
                                              <h2 class="fs-7 text-neutral-80 pb-4 border-bottom border-1"><i class="bi bi-fire"></i> 熱門網頁前端課程</h2>

                                              <div class="d-flex mt-4">
                                                <div class="w-30 ">
                                                    <div class="position-relative">
                                                        <img width="100" height="100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-5.png?raw=true" alt="...">
                                                        <span class="discount"></span>
                                                    </div>
                                                </div>
                                                <div class="w-70 pb-6">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="fs-7 mb-4"> 小白也會！從零開始學習 Python 程式設計</h3>
                                                        <div class="d-flex justify-content-between mt-auto align-items-center border-1 border-bottom pb-2">
                                                            <div>
                                                                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                                                                <span class="neutral-80">Kelly Hsu</span>
                                                            </div>
                                                            <div class="text-end">
                                                                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                                                                <del class="del-text fs-9">NT$ 3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between fs-8 align-items-center mt-2">
                                                            <p class="text-neutral-80">已有 420 位同學加入</p>
                                                            <p><i class="me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>

                                              <div class="d-flex mt-4">
                                                <div class="w-30 ">
                                                    <div class="position-relative">
                                                        <img width="100" height="100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-5.png?raw=true" alt="...">
                                                        <span class="discount"></span>
                                                    </div>
                                                </div>
                                                <div class="w-70 pb-6">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="fs-7 mb-4"> 小白也會！從零開始學習 Python 程式設計</h3>
                                                        <div class="d-flex justify-content-between mt-auto align-items-center border-1 border-bottom pb-2">
                                                            <div>
                                                                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                                                                <span class="neutral-80">Kelly Hsu</span>
                                                            </div>
                                                            <div class="text-end">
                                                                <div class="text-neutral-60 fw-bold">已購買</div>
                                                                <del class="del-text fs-9">NT$ 3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between fs-8 align-items-center mt-2">
                                                            <p class="text-neutral-80">已有 420 位同學加入</p>
                                                            <p><i class="me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>

                                              <div class="d-flex mt-4">
                                                <div class="w-30 ">
                                                    <div class="position-relative">
                                                        <img width="100" height="100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/course-5.png?raw=true" alt="...">
                                                        <span class="discount"></span>
                                                    </div>
                                                </div>
                                                <div class="w-70 pb-6">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="fs-7 mb-4"> 小白也會！從零開始學習 Python 程式設計</h3>
                                                        <div class="d-flex justify-content-between mt-auto align-items-center border-1 border-bottom pb-2">
                                                            <div>
                                                                <img class="object-fit-cover" width="32" height="32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/avatar-2.png?raw=true" alt="">
                                                                <span class="neutral-80">Kelly Hsu</span>
                                                            </div>
                                                            <div class="text-end">
                                                                <div class="text-primary-100 fw-bold">NT$ 2,480</div>
                                                                <del class="del-text fs-9">NT$ 3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between fs-8 align-items-center mt-2">
                                                            <p class="text-neutral-80">已有 420 位同學加入</p>
                                                            <p><i class="me-1 bi bi-star-fill"></i>4.0 <span class="del-text">(333)</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>

                                          </div>
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">網頁後端
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">網站架設
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">資訊安全
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">程式語言
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">遊戲開發
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">資料科學
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">人工智慧
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
                                      <li>
                                          <a class="py-3 rounded-2 dropdown-item position-relative" href="#" id="dropdownMenuLink" data-bs-auto-close="outside" data-bs-toggle="dropdown">量化分析
                                              <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                          </a> 
                                      </li>
          
                                  </ul>
                              </div>
                          </li>
                          <li>
                              <a class="py-3 dropdown-item rounded-2  position-relative" href="#">攝影
                                  <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                              </a> 
                          </li>
                           <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">音樂
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">藝術
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">人文
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">行銷
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">投資理財
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">心靈成長
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">職場技能
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">生活品物
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">音樂
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
      
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">人文
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">行銷
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">投資理財
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">心靈成長
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">職場技能
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
                              <li>
                                  <a class="py-3 dropdown-item rounded-2  position-relative" href="#">生活品物
                                      <span class="top-50 translate-middle-y end-0 position-absolute material-symbols-outlined"> chevron_right</span>
                                  </a> 
                              </li>
      
                      </ul>

                  </div>
              </li>

            </ul>

            <form class="d-flex me-auto">
                <div class="position-relative">
                    <i class="position-absolute translate-middle-y bi bi-search"></i>
                    <input class="form-control me-2" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程">
                    <button class="position-absolute top-50 translate-middle-y end-5 btn btn-sm btn-primary-100" type="button">搜尋</button>
                </div>
            </form>

            <div>
                <a href="#">
                    <div class="position-relative me-4">
                        <img class="object-fit-cover" width="24" height="24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/ic_notifications.png?raw=true" alt="">
                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary-100  rounded-circle">
                        </span>
                    </div>
                </a>
                <a href="cart.html">
                    <i class=" bi bi-cart4 fs-6"></i>
                </a>
                <a href="login.html" class="ms-4 btn btn-primary-100">登入 / 註冊</a>
            </div>
          </div>
        </div>
      </nav>

<!-- navbar-mobile----------------- -->
      <nav class="navbar-mobile navbar navbar-light bg-light fixed-top d-block d-lg-none">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img width="125" height="20" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/logo.png?raw=true" alt="...">
          </a>
          <div>
              <a href="#">
                  <div class="position-relative me-4">
                      <img class="object-fit-cover" width="24" height="24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/ic_notifications.png?raw=true" alt="">
                      <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary-100  rounded-circle">
                      </span>
                  </div>
              </a>
              <a href="#"><i class="align-bottom bi bi-cart4 fs-6"></i></a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">探索全部</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-13">
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                  <a class="nav-link active" href="#">音樂 </a>
                  <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                  <a class="nav-link" href="#">攝影</a>
                  <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center bg-primary-100">
                    <a href="#" class="nav-link text-white">程式</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">藝術</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">人文</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">行銷</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">生活品味</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">投資理財</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">心靈成長</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item p-3 d-flex justify-content-between align-items-center">
                    <a href="#" class="nav-link">職場技能</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
              </ul>
              <a href="" class="fixed-bottom w-100 btn btn-primary-100">登入 / 註冊</a>
         
            </div>
          </div>
        </div>
      </nav>
</header>




